@charset "UTF-8";
/* Alt der gælder for mobil og højere */
* {
  /* Gælder alt på hele siden */
  -webkit-box-sizing: border-box;
  /* -webkit- browserunderstøttelse */
  box-sizing: border-box;
  /* Bokse har altid den størrelse man giver uanset om der tilføjes margen mv. */ }

body {
  margin: 0;
  /* Ingen kanter i siden af browser */
  font-family: "Courier New", "Calibri Light", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /* Ingen ydre margen fra overskrifter */
  padding: 0;
  /* Ingen indre margen fra overskrifter */ }

ul, ol {
  margin: 0;
  /* Ingen ydre margen fra lister */
  padding: 0;
  /* Ingen indre margen fra lister */
  list-style-position: inside;
  /* List punkter står på linje */ }

li {
  margin: 0;
  /* Ingen ydre margen fra listpunkter */ }

p {
  margin: 0;
  /* Ingen ydre margen fra paragraffer */
  padding: 0;
  /* Ingen indre margen fra paragraffer */ }

/* Sikrer billeder er responsive */
img {
  display: block;
  /* Billeder er et element (laver linjeskift) */
  max-width: 100%;
  /* Bredde må maks fylde 100% */
  height: auto;
  /* Højden skal tilpasse sig */ }

/* Header */
header {
  height: 230px;
  padding: 30px;
  background: beige;
  color: black;
  list-style: none;
  text-decoration: none; }

.logo {
  position: relative;
  right: 10px;
  font-size: 25px;
  text-decoration: none;
  top: 30px; }

.menu {
  margin-bottom: 10px;
  margin-top: 50px;
  width: 100%; }

.menutekst {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-size: 16px; }

a {
  font-family: "Courier New", "Calibri Light", sans-serif;
  color: black;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 6px; }

li {
  text-decoration: none; }

/* Slideshow på index */
#slider {
  position: relative;
  overflow: hidden; }

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100px;
  list-style: none; }

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer; }

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease; }

a.control_prev {
  border-radius: 0 2px 2px 0; }

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px; }

/* Produkter */
.produkter {
  display: flex;
  justify-content: center; }

.vinboks {
  border: black 1px solid;
  margin: 10px;
  padding: 20px 30px 20px 30px; }
  .vinboks .vinbillede {
    height: 250px;
    width: auto;
    margin: auto; }
  .vinboks .vintekst {
    padding: 30px 0 20px 0;
    margin-top: 10px; }

.købsboks {
  display: flex;
  justify-content: space-between; }
  .købsboks #antal {
    width: 35%;
    margin-top: 10px;
    padding: 10px;
    border: black 1px solid;
    text-align: center; }
  .købsboks .købknap {
    padding: 10px;
    margin-top: 10px;
    border: black 1px solid;
    width: 60%;
    text-align: center;
    background-color: #0C6987;
    color: white;
    cursor: pointer;
    text-decoration: none; }
    .købsboks .købknap:hover {
      background-color: #0E85AB; }

/* Enkeltprodukt */
.beskrivelse {
  display: flex;
  justify-content: center;
  margin: 30px 0; }
  .beskrivelse .vin {
    height: 450px; }
  .beskrivelse .tekstbeskrivelse {
    margin-left: 40px;
    width: 40%; }
    .beskrivelse .tekstbeskrivelse .vinen {
      font-size: 34px;
      margin-bottom: 20px; }
    .beskrivelse .tekstbeskrivelse .prisen {
      margin: 20px 0;
      font-size: 24px; }
    .beskrivelse .tekstbeskrivelse #more {
      display: none; }
    .beskrivelse .tekstbeskrivelse #myBtn {
      margin-top: 10px;
      cursor: pointer; }
    .beskrivelse .tekstbeskrivelse .købsboks {
      width: 250px;
      padding-top: 20px; }
      .beskrivelse .tekstbeskrivelse .købsboks #antal {
        width: 30%; }
      .beskrivelse .tekstbeskrivelse .købsboks .købknap {
        width: 60%; }

/* Kurv */
.kurv {
  width: 80%;
  margin: 40px auto; }

.product-image {
  float: left;
  width: 20%; }

.product-details {
  float: left;
  width: 37%; }

.product-price {
  float: left;
  width: 12%; }

.product-quantity {
  float: left;
  width: 10%; }

.product-removal {
  float: left;
  width: 9%; }

.product-line-price {
  float: left;
  width: 12%;
  text-align: right; }

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table; }

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both; }

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1; }

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: 'Kr.'; }

/* Body/Header stuff */
h1 {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 15px; }

label {
  color: darkolivegreen; }

.shopping-cart {
  margin-top: -45px; }

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid gainsboro; }
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px; }

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro; }
  .product .product-image {
    text-align: center; }
    .product .product-image img {
      width: 100px; }
  .product .product-details .product-title {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px; }
  .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em; }
  .product .product-quantity input {
    width: 40px; }
  .product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px; }
  .product .remove-product:hover {
    background-color: #a44; }

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px; }
  .totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right; }
  .totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right; }

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px; }

.checkout:hover {
  background-color: #494;
  cursor: pointer; }

/* Footer */
.footer {
  padding: 50px 20px 50px 20px;
  background: beige; }

.social {
  display: block;
  padding: 0;
  font-size: 30px;
  margin: 21px 0 0 -16px; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  color: black;
  font-size: 30px; }

.fa-instagram {
  color: black;
  font-size: 30px; }

@media screen and (min-width: 768px) {
  /* Alt der ændres i tablet stående fra mobil */ }
@media screen and (min-width: 992px) {
  /* Alt der ændres i tablet liggende fra mobil og tablet stående */ }
@media screen and (min-width: 1200px) {
  /* Alt der ændres i computer fra mobil, tablet stående og tablet liggende */ }
@media print {
  /* Alt der gælder for print specifikt */ }

/*# sourceMappingURL=styles.css.map */
